.boom {
    width: 20rem;
    height: 20rem;

    &__wrapper {
        @include flex-center;

        position: relative;
        margin-top: 5rem;
    }

    &__text {
        font-size: 4rem;
        position: absolute;
        font-family: 'Lobster', cursive;
        width: 30rem;
    }
}