.boom {
    width: 10rem;
    height: 10rem;

    @include at-medium {
        width: 20rem;
        height: 20rem;
    }

    @include at-small {
        width: 15rem;
        height: 15rem;
    }

    &__wrapper {
        @include flex-center;

        position: relative;
        margin-top: 5rem;
    }

    &__text {
        font-size: 2rem;
        position: absolute;
        font-family: 'Lobster', cursive;
        width: 20rem;

        @include at-medium {
            font-size: 4rem;
            width: 30rem;
        }

        @include at-small {
            font-size: 3rem;
            width: 25rem;
        }

       &:hover {
           color: $shooter-gold;
       }
    }
}