.bullet-hole {
    @include transform(x, y);

    position: absolute;
    display: none;

    &__1 {
        @include transform(50px, 20px);
        
        &--is-visible {
            display: block;
        }
    }

    &__2 {
        @include transform(300px, -300px);

        &--is-visible {
            display: block;
        }
    }

    &__3 {
        @include transform(230px, -220px);

        &--is-visible {
            display: block;
            }
    }

    &__4 {
        @include transform(100px, 150px);

        &--is-visible {
            display: block;
            }
    }

    &__5 {
        @include transform(-20px, -50px);

        &--is-visible {
            display: block;
            }
    }
}

.holes-wrapper {
    width: 33.3%;
    height: 100%;
    position: relative;
}

