.bullet-hole {
    @include translate(x, y);

    position: absolute;
    display: none;
    width: 70px;
    height: 70px;

    @include at-phone-small {
        width: 100px;
    height: 100px;
    }

    @include at-medium-small-II {
        width: 180px;
        height:180px;
    }

    &__1 {
        @include translate(50px, 20px);

        &--is-visible {
            display: block;
        }
    }

    &__2 {
        @include translate(110px, -140px);

        @include at-medium-very-small {
            @include translate(180px, -180px)
        }

        @include at-medium {
            @include translate(230px, -300px);
        }

        &--is-visible {
            display: block;
        }
    }

    &__3 {
        @include translate(40px, -100px);

        @include at-phone-small {
            @include translate(65px, -200px);

        }

        @include at-medium-very-small {
            @include translate(130px, -220px);
        }

        @include at-medium {
            @include translate(230px, -220px);
        }

        &--is-visible {
            display: block;
            }
    }

    &__4 {
        @include translate(10px, 10px);

        @include at-phone-small {
            @include translate(60px, 150px);
        }

        @include at-medium-very-small {
            @include translate(100px, 150px);
        }

        &--is-visible {
            display: block;
            }
    }

    &__5 {
        @include translate(-20px, -50px);

        &--is-visible {
            display: block;
            }
    }
}

.holes-wrapper {
    width: 33.3%;
    height: 100%;
    position: relative;
}

