.input {
    background-color: transparent;
    border: 0;
    border-bottom: 0.5rem black double;
    text-align: center;
    padding-bottom: 1.5rem;
    font-size: 2rem;
    font-family: 'Alfa Slab One', cursive;
    color: #FFD500;
    text-shadow: 0.2rem -0.2rem #000;
    letter-spacing: 0.04rem;
    outline: 0;

    &::placeholder {
        font-family: 'Lobster', cursive;
        color: #4D4D4D;
        text-shadow: none;
        font-size: 2.5rem;
    }
    
    &__label {
        font-size: 2.7rem;
    }

    &__label-text {
        text-align: center;
        font-family: 'Lobster', cursive;
    }

    &__wrapper {
        @include flex-center;
        
        margin-bottom: 3rem;
    }

    &__inner-wrapper {
        @include flex-center;

        transform: translateX(10%);

        &--is-left {
            flex-direction: row-reverse;
            transform: translateX(-10%);
        }
    }

    &__arrow {
        width: 20rem;
        height: 8rem;
        transform: translateY(-20%);

        &--is-right {
            transform: rotateY(180deg) translateY(-20%);  
        }
    }
}