.life-bar {
    height: 100%;
    background-color: $life-bar-green;
    transition: all 0.3s linear;

    &--is-left {
      position: absolute;
      top: 0;
      right: 0;
    }
    
    &__inner-wrapper {
        position: relative;
        width: 10rem;
        height: 2rem;
        background-color: transparent;
        border: 0.3rem solid $life-bar-border-black;

        @include at-phone-small {
            width: 15rem;
            height: 3rem; 
        }

        @include at-small-II {
            width: 20rem;
            height: 4rem;
        }

        @include at-medium-small-II {
            width: 30rem;
            height: 4rem;
            border: 0.5rem solid $life-bar-border-black;
        }

        @include at-medium {
            width: 40rem;
            height: 5rem;
        }

        @include at-medium-large-II {
            width: 50rem;
            height: 5rem;
        }
    }

    &__wrapper {
        @include flex-center;

        margin: 0 auto;
        width: 90%;
    }

    &__pointer {
        width: 5rem;
        height: 2rem;

        @include at-phone-small {
            width: 7rem;
            height: 3rem; 
        }

        @include at-medium-small-II {
            width: 9rem;
            height: 4rem; 
        }

        @include at-medium {
            width: 12rem;
            height: 6rem;
        }
        
         &--is-left {
            transform: rotateY(180deg);
         }
    }

    &__pointer-wrapper {
        @include flex-center;
        

        &__active-div {
            @include flex-center;

            width: 50%;         
        }

        &__unactive-div {
            width: 50%;
        }

        &--switch {
            flex-direction: row-reverse;
        }
    }
}

