.pistol {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 3rem;
    display: block;
    border: 0;
    background-color: transparent;
    outline: 0;
    cursor: crosshair;

    @include at-small {
        width: 7rem;
        height: 7rem;
        top: 2rem;
    }

    @include at-medium-very-small {
        width: 9rem;
        height: 9rem;
        top: 3rem;
    }

    @include at-medium {
        height: 12rem;
        width: 12rem;
        top: 1rem;
    }


    img {
        width: 5rem;
        height: 5rem;
        margin-left: 2rem;
        margin-right: 2rem;

        @include at-small {
            width: 7rem;
            height: 7rem;
        }

        @include at-medium-very-small {
            width: 9rem;
            height: 9rem;
        }

        @include at-medium {
            width: 12rem;
            height: 12rem;
        }
    }
    
    &--right {
        right: 9rem;

            &-animated {
                animation: rotate-right 0.5s;
            }
    }
    
    &--left {
        left: 9rem;
        transform: rotateY(180deg);

            &-animated {
                animation: rotate-left 0.5s;
            }
    } 
}

@keyframes rotate-right {
    0% {
        transform: rotateZ(0deg);
    }
    20% {
        transform: rotateZ(10deg);
    }
    40% {
        transform: rotateZ(-10deg);
    }
    60% {
        transform: rotateZ(5deg);
    }
    80% {
        transform: rotateZ(-5deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}


@keyframes rotate-left {
    0% {
        transform: rotateZ(0deg) rotateY(180deg);
    }
    20% {
        transform: rotateZ(10deg) rotateY(180deg);
    }
    40% {
        transform: rotateZ(-10deg) rotateY(180deg);
    }
    60% {
        transform: rotateZ(5deg) rotateY(180deg);
    }
    80% {
        transform: rotateZ(-5deg) rotateY(180deg);
    }
    100% {
        transform: rotateZ(0deg) rotateY(180deg);
    }
}