.shooter-label {
    width: 7rem;
    height: 7rem;

    @include at-phone-small {
        width: 9rem;
        height: 9rem;
    }

    @include at-small-II {
        width: 12rem;
        height: 12rem;
    }

    @include at-medium-small-II {
        width: 15rem;
        height: 15rem;
    }

    @include at-medium {
        width: 18rem;
        height: 18rem; 
    }

    @include at-medium-large-II {
        width: 20rem;
        height: 20rem;
    }
    
    &__inner-wrapper {
        @include flex-center;

        position: relative;
        width: 100%;
    }

    &__wrapper {
        @include flex-center;

        margin-top: 3.5rem;
    }

    &__text {
        font-size: 1rem;
        font-family: 'Lobster', cursive;
        position: absolute;
        transform: translateY(-60%);

        @include at-small-II {
            font-size: 1.5rem;
        }

        @include at-medium-large-II {
            font-size: 2rem;
        }

        @include at-medium {
            font-size: 2.5rem;
        }
    }
}