$title-and-game-color: #c21703;
$header-background-color: #007291;
$border-bottom-header-color: #f5c600;
$shooter-gold: #ffd500;
$shooter-placeholder-color: #4d4d4d;
$life-bar-border-black: #000;
$life-bar-green: #5e8c6a;
$life-bar-yellow: #edc951;
$life-bar-brown: #2b1d0e;


